.review-divider {
    margin: 1rem 0 !important;
}

.standard-padding {
    padding: 0 24px;
}

.review-metric {
    display: flex;
    justify-content: space-between;
}

.review-count-label, .review-count {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.review-count {
    color: #000000;
}

.review-metrics {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

@media only screen and (max-width: 800px) {
    .standard-padding {
        padding: 0;    
    }
}