.login-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-form {
    padding: 1.5rem;
    margin-bottom: -3rem;
}

.login-icon {
    margin-right: 8px;
}

.form-field {
    width: 18rem;
}

.login-banner {
    max-height: 25rem;
}

.login-header {
    margin: 0 0 1rem;
    padding: 0;
    text-align: center;
    font-weight: 500;
}

.login-button {
    margin-left: 32px !important;
}